.swiper {
  width: 100vw;
  height: 92vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #eee;
  padding: 2rem;
  box-sizing: border-box;
}

.content h2 {
  margin: 0.1rem;
  padding: 0.5rem;
  font-size: 3rem;
}

.content h3 {
  margin: 0.1rem;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}

.description {
  margin: 0.1rem 0.5rem;
  padding: 0.4rem 15rem;
  font-size: 1.2rem;
}

.director {
  margin: 0.1rem 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-style: italic;
}

@media (max-width: 800px) {
  .description {
    padding: 0.1rem;
    font-size: 1rem;
  }

  .content h2 {
    padding: 0.1rem;
    font-size: 1.5rem;
  }

  .content h3 {
    font-size: 1rem;
  }

  .director {
    font-size: 1rem;
  }
}