@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #295264;
  --secondary-color: #fad9a6;
  --tertiary-color: #bd2f28;
  --quaternary-color: #89373d;
  --quinary-color: #142433;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-size: 1,5rem; */
  margin: 0;
  padding: 0;
}
